* {
    margin: 0;
    border: 0;  
    box-sizing: border-box; 
}

/* NavBar */
.container {
    width: 800px;
    margin: 0 auto;
}
.navbar {
    background-color: gray;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.searchbar {
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
}

.searchspace {
    align-items: center;
    flex: 2;
    margin: 0px 100px;
    justify-content: center;
}

.btn {
    color: white;
    background-color: rgb(79, 216, 226);
    box-shadow: black 4px 4px;
    padding: 5px;
    /* align-items: right;
    justify-content: space-around; */
}

/* all*/
.main {
    display: flex;
    /* border: 1px dashed red; */
    /* height: 1000px; */
}

.left{
    /* display: flex; */
    width: 800px;
    margin: 0 auto;
    gap: 25px;
    margin-top: 40px;
    gap: 10px;
}

/* Left Top Container*/
.ninja1 {
    border: gray 1px;
    /* justify-content: space-around;
    align-items: center; */
    border: 1px solid black;
    width: 400px;
    margin-bottom: 40px;
    padding-left: 40px;
}

.noun {
    display: flex;
}

.likebtn {
    background-color: darkgoldenrod;
    color: white;
    box-shadow: black 4px 4px;
}


.Addbtn {
    background-color: rgb(53, 153, 53);
    color: white;
    display: flex;
    align-items: center;
    flex: 1;
    box-shadow: black 4px 4px;
}

/*Right*/
.definition {
    border: 1px solid black;
    width: 400px;
    height: 100px;
    margin-top: 40px;
    padding-left: 50px;
}
